.Jokes{
    background-color: rgba(28, 120, 224, 0.5);
    display: flex;
    height: 100%;
    justify-content: center;
    
}

.Jokes-button-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 
    flex-direction: column;

}

.jokeList{
    width: 60%;
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color:white;
}

.Jokes-text{
    font-size: 3em;
}

.Jokes-button{
    height: 60px;
    width: 120px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(255, 251, 0, 0.699);
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 1.5em;
}
.Jokes-button:hover{
    background-color: rgba(226, 222, 2, 0.699);
}

.Loader-container{
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    
    margin: 50px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    background-color:white;
}
  .Loader{    
    animation: spin 3s infinite;
    font-size: 100px;
    display: block;
  }
  

  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }